:root{
    --first-color: #48aef1;
    --second-color: #9c72e4;
    --third-color: #64c0a9;
    --fourth-color: #f29e33;
    --fifth-color: #e3e6e8;
    --sixth-color: #d863a0;
    --seventh-color: #b0c926;
    --eighth-color: #323232;
}