:root{
    --tobool-editorial: #48aef1;
    --tobool-Q1-Goals: #9c72e4;
    --tobool-recruiting: #64c0a9;
    --tobool-mobile: #f29e33;
    --toobool-addSection: #e3e6e8;
    --tobool-website: #d863a0;
    --tobool-sales: #b0c926;
    --main-color: #323232;
}

main{
    background-color: #e3e6e8b9;
}

.container{
    background-color: white;
    box-sizing: border-box;
    
}