:root{
    --tobool-editorial: #48aef1;
    --tobool-Q1-Goals: #9c72e4;
    --tobool-recruiting: #64c0a9;
    --tobool-mobile: #f29e33;
    --toobool-addSection: #e3e6e8;
    --tobool-website: #d863a0;
    --tobool-sales: #b0c926;
    --main-color: #323232;
}

body{
    margin: 0;
    background-color: var(--toobool-addSection) ;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
}

h1{
    display: inline;
    vertical-align: middle;
}

.site_header{
    background-color: white;
}

hr{
    border-color: var(--toobool-addSection);
}


.buttons_container{
    background-color: white;
    padding-top: 1.5rem;
    padding-left: 1rem;
}

#button{
    border-radius: 0.2rem;
    display: inline;
    text-align: center;
}

.add_task{
    background-color: var(--tobool-editorial);
    color: white;
    border: none;
   
}

.add_section{
    background-color: white;
    color: var(--toobool-addSection);
    border-color: var(--toobool-addSection);
}



.main_container{
    background-color: white;
    margin: 10%;

}

h3{
    display: inline;
}

.task_container{
    padding: 2rem 0.5rem 2rem 2rem;
}



.check{
    color: rgb(50, 190, 50);
    border-radius: 50%;
    border: solid;
}


.cross{
    color: rgb(245, 107, 107);
    border-radius: 50%;
    border: solid;
}

#id{
    border: 0.2rem solid;
    border-radius: 0.5em;
    display: inline;
    text-align: center;
}

.editorial{
    background-color: var(--tobool-editorial);
    color: white;
}

.q1_goals{
    background-color: var(--tobool-Q1-Goals);
    color: white;
}

.recruiting{
    background-color: var(--tobool-recruiting);
    color: white;
}

.mobile{
    background-color: var(--tobool-mobile);
    color: white;
}

.website{
    background-color: var(--tobool-website);
    color: white;
}

.sales{
    background-color: var(--tobool-sales);
    color: white;
}

